database.dtd

<!ELEMENT dataset (
    account*,
    flyway_schema_history*)>

<!ELEMENT account EMPTY>
<!ATTLIST account
    id CDATA #IMPLIED
    mobile_phone CDATA #REQUIRED
    hashed_password CDATA #REQUIRED
    first_name CDATA #REQUIRED
    last_name CDATA #REQUIRED
    role_names CDATA #REQUIRED
    type CDATA #REQUIRED
    status CDATA #REQUIRED
    flag CDATA #IMPLIED
    created_at CDATA #REQUIRED
    updated_at CDATA #REQUIRED
>

<!ELEMENT flyway_schema_history EMPTY>
<!ATTLIST flyway_schema_history
    installed_rank CDATA #REQUIRED
    version CDATA #IMPLIED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #IMPLIED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

